body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 600px;
    margin: 0 auto;
    
}
header, footer{
    text-align: center;
    padding: 5px;
    background-color:aquamarine;
    margin: 7px auto;
}
header{
    font-size: 30px;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    margin: 7px auto;
}
nav a {
    padding: 5px;
    transition: 0.5s;
}
h1{
    background-color: aqua;
    text-align: center;
    margin: 12px auto;
}
nav a:hover {
    background-color: chocolate;
    color: white;
}

img {
    float: left;
    margin-right: 10px;
    height: 150px;
}
il {
    padding-right: 15px;
}
.text{
    display: flex;
}

p {
    margin: 0;
}

button {
    padding: 3px;
    margin: 3px 3px 3px 0;
}

input {
    margin: 3px 3px 3px 0;
    width: 175px;
}

#cat_page {
    float:none;
    width: 600px;
    height:auto
}

.button_operation {
    margin: 5px 2px 5px 0;
    padding: 2px 13px;
    font-size: 20px;
}

#calc {
    text-align: center;
}
